.phoneNumber{ 
    border: 2px solid #DADADA;
    padding: 0px 5px;
    width: 250px;
    outline: none;
    border-radius: 6px;
    color: #000; 
    margin-left: 10px;
    transition: all 0.25s ease;
}   

.phoneNumber:hover{
    border-color: #93c5fd;
}

.phoneNumber:focus{
    border-color: #515BE0;
}

.button {
    background-color:#515BE0;
    border:1px solid #515BE0;
    border-radius:10px;
    color:#fff;
    padding:10px 75px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    transition: all 0.25s ease;
} 

.button:hover {
    color:#515BE0;
    background-color: white;
} 
